// My Bootstrap configuration
@import "_custom_bootstrap";

// Bootstrap library
@import "../../node_modules/bootstrap/scss/bootstrap";

// import slick themes for carousel
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css?family=Give+You+Glory|Ubuntu:300");

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-container {
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.center {
  font-family: "Give You Glory", cursive;
  text-align: center;
}

#background {
  position: absolute;
  top: 4em;
  left: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  line-height: 2em;
}
